@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Roc Grotesk Condensed - Extra Bold */
@font-face {
    font-family: 'Roc Grotesk';
    src: url('./fonts/Roc Grotesk/Roc Grotesk Condensed Extra Bold.woff2') format('woff2');
    font-weight: 800;
    font-stretch: condensed;
    font-style: normal;
}

/* Roc Grotesk Compressed - Extra Bold */
@font-face {
    font-family: 'Roc Grotesk';
    src: url('./fonts/Roc Grotesk/Roc Grotesk Compressed Extra Bold.woff2') format('woff2');
    font-weight: 800;
    font-stretch: extra-condensed;
    font-style: normal;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;

    min-height: 100vh;
    background: #212121;
    color: #FFFFFF;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    padding: 0;
    max-width: 100%;
    height: 7000px;
    overflow-x: hidden;
}

/* ----- HEADER ----- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-stretch: normal;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

.header nav ul {
    display: flex;
    gap: 46px;
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav a {
    color: inherit;
    text-decoration: none;
}

/* ----- HERO IMAGE ----- */
.hero-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: top center;
    z-index: -1;
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: top center;
    z-index: -2;
}

/* ----- HERO SECTION ----- */
.hero {
    display: flex;
    position: relative;
    align-items: flex-end;

    width: 100%;
    height: auto;
    margin-top: 66px;
}

/* ----- HEADER LEFT ----- */
.header-left {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.header-left p {
    width: 420px;
    margin-left: 273px;
    margin-bottom: 100px;
}

.header-date {
    display: flex;
    position: relative;
    align-items: center;
    gap: 40px;
    bottom: -120px;
}

.header-date h1 {
    white-space: nowrap;

    color: #FFF;
    text-align: right;
    font-family: "Roc Grotesk";
    font-size: 100px;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 98%; /* 117.6px */
    letter-spacing: -1.2px;
    text-transform: uppercase;
}

/* ----- JOIN US ----- */

.join {
    display: flex;
    gap: 16px;
}

.join svg {
    width: 81px;
    height: 22px;

    margin-top: 45px;
}

.join h2 {
    white-space: nowrap;

    color: var(--Accent, #FF4D00);
    text-align: right;
    font-family: "Roc Grotesk";
    font-size: 50px;
    font-stretch: extra-condensed;
    font-weight: 700;
    line-height: 98%; /* 49px */
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

/* ----- HEADER RIGHT ----- */

.header-right {
    margin-left: auto;
}

.header-right h1 {
    width: 444px;
    height: 464px;

    color: #FFF;
    text-align: right;
    font-family: "Roc Grotesk";
    font-size: 145px;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 116px */
    letter-spacing: -1.45px;
    text-transform: uppercase;
}

.header-right h1 span:not(.badgeAnchor) {
    color: var(--Accent, #FF4D00);
}

/* ----- HEADER BADGE ----- */

.badge-anchor {
    position: relative;
    color: #FFF !important;
}

.header-badge {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    margin-top: -50px;
    margin-left: -70px;
}

.header-badge svg {
    position: relative;
    inset: 0;
    width: 118px;
    height: 118px;
}

.header-badge p {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;

    width: 79px;
    height: 42px;
    transform: rotate(21.605deg);

    color: #FFF;
    text-align: center;
    font-family: "Roc Grotesk";
    font-size: 21px;
    font-stretch: condensed;
    font-weight: 750;
    line-height: 98%; /* 20.58px */
    letter-spacing: -0.21px;
    text-transform: uppercase;
}

/* ----- ABOUT SECTION ----- */
.about {
    display: flex;
    flex-direction: column;
    
    margin-top: 170px;
}

.about-headline {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    margin-right: 60px;
    min-height: 760px;
}

.about-headline h1 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 212px;
    white-space: nowrap;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 80%; /* 144px */
    letter-spacing: -1.8px;
    text-transform: uppercase;
    z-index: 1;

    margin: 0;
}

.about-headline img {
    position: absolute;
    top: 50%;
    right: 0;
    width: 500px;
    height: 750px;
    transform: translateY(-50%) rotate(8deg);
    z-index: 2;
}

/* ----- ABOUT BADGE ----- */

.about-badge {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    margin-top: -230px;
    margin-left: 210px;
}

.about-badge svg {
    position: relative;
    inset: 0;
    width: 136px;
    height: 136px;
}

.about-badge p {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;

    color: #FFF;
    text-align: center;
    font-family: "Roc Grotesk";
    font-size: 21px;
    font-stretch: condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 20.58px */
    letter-spacing: -0.21px;
    text-transform: uppercase;
    transform: rotate(-15.418deg);
}


/* ----- ABOUT SUBTITLE ----- */
.about-sub {
    display: flex;
    flex-direction: row;
    gap: 130px;
}

.sub-left {
    flex-direction: column;
}

.sub-left p {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 98%; /* 21.56px */
    letter-spacing: -0.22px;

    margin: 0;
}

.sub-right {
    flex-direction: column;
}

.sub-right p {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 98%; /* 21.56px */
    letter-spacing: -0.22px;

    margin: 0;
}

.about a {
    margin-top: 60px;

    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%; /* 19.2px */
    letter-spacing: -0.24px;
}

/* ----- SKI PASSES ----- */
.ski-passes {
    display: flex;
    flex-direction: column;
    margin-top: 170px;
}

.ski-passes h1 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 180px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 80%; /* 144px */
    letter-spacing: -1.8px;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 80px;
}

.all-passes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    column-gap: 74px;
}

/* ----- DAY PASS ----- */

.day-pass {
    position: relative;
    width: 405px;
    height: 542px;
    border-radius: 25px;
    border: 1px solid #FFF;
    padding-bottom: 30px;
}

.day-pass h2 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 60px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 58.8px */
    letter-spacing: -0.6px;
    text-transform: uppercase;

    margin: 0;
    margin-top: 50px;
    margin-left: 30px;
}

.day-pass h3 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 160px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 156.8px */
    letter-spacing: -1.6px;
    text-transform: uppercase;

    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
}

.day-pass nav {
    margin-left: 48px;

    position: absolute;
    bottom: 140px;
}

.day-pass li {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
    letter-spacing: -0.18px;
}

.day-pass-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 233px;
    height: 69px;
    border-radius: 14px;
    border: 1px solid #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.day-pass a {
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 35.04px */
    letter-spacing: -0.24px;
    text-decoration: none;
}

/* ----- WEEKEND PASS ----- */
.weekend-pass {
    position: relative;
    width: 405px;
    height: 542px;
    border-radius: 25px;
    border: 1px solid #FFF;
    padding-bottom: 30px;
}

.weekend-pass h2 {
    color: var(--Accent, #FF4D00);
    font-family: "Roc Grotesk";
    font-size: 60px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 58.8px */
    letter-spacing: -0.6px;
    text-transform: uppercase;

    margin: 0;
    margin-top: 50px;
    margin-left: 30px;
}

.weekend-pass p {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 98%; /* 19.6px */
    letter-spacing: -0.2px;

    margin-top: 0;
    margin-left: 30px;
}

.weekend-pass h3 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 160px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 156.8px */
    letter-spacing: -1.6px;
    text-transform: uppercase;

    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
}

.weekend-pass nav {
    margin-left: 48px;

    position: absolute;
    bottom: 140px;
}

.weekend-pass li {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
    letter-spacing: -0.18px;
}

.weekend-pass-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 233px;
    height: 69px;
    border-radius: 14px;
    border: 1px solid #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.weekend-pass a {
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 35.04px */
    letter-spacing: -0.24px;
    text-decoration: none;
}

/* ----- MONTHLY PASS ----- */
.monthly-pass {
    position: relative;
    width: 405px;
    height: 542px;
    border-radius: 25px;
    border: 1px solid #FFF;
    padding-bottom: 30px;
}

.monthly-pass h2 {
    color: white;
    font-family: "Roc Grotesk";
    font-size: 60px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 58.8px */
    letter-spacing: -0.6px;
    text-transform: uppercase;

    margin: 0;
    margin-top: 50px;
    margin-left: 30px;
}

.monthly-pass h3 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 160px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 156.8px */
    letter-spacing: -1.6px;
    text-transform: uppercase;

    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
}

.monthly-pass nav {
    margin-left: 48px;

    position: absolute;
    bottom: 140px;
}

.monthly-pass li {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
    letter-spacing: -0.18px;
}

.monthly-pass-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 233px;
    height: 69px;
    border-radius: 14px;
    border: 1px solid #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.monthly-pass a {
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 35.04px */
    letter-spacing: -0.24px;
    text-decoration: none;
}

/* ----- SEASONAL PASS ----- */
.seasonal-pass {
    position: relative;
    width: 405px;
    height: 542px;
    border-radius: 25px;
    border: 1px solid #FFF;
    padding-bottom: 30px;
}

.seasonal-pass h2 {
    color: var(--Accent, #FF4D00);
    font-family: "Roc Grotesk";
    font-size: 60px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 58.8px */
    letter-spacing: -0.6px;
    text-transform: uppercase;

    margin: 0;
    margin-top: 50px;
    margin-left: 30px;
}

.seasonal-pass p {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 98%; /* 19.6px */
    letter-spacing: -0.2px;

    margin-top: 0;
    margin-left: 30px;
}

.seasonal-pass h3 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 160px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 156.8px */
    letter-spacing: -1.6px;
    text-transform: uppercase;

    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
}

.seasonal-pass nav {
    margin-left: 48px;

    position: absolute;
    bottom: 140px;
}

.seasonal-pass li {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
    letter-spacing: -0.18px;
}

.seasonal-pass-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 233px;
    height: 69px;
    border-radius: 14px;
    border: 1px solid #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.seasonal-pass a {
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 35.04px */
    letter-spacing: -0.24px;
    text-decoration: none;
}

/* ----- FAMILY PASS ----- */
.family-pass {
    position: relative;
    width: 405px;
    height: 542px;
    border-radius: 25px;
    border: 1px solid #FFF;
    padding-bottom: 30px;
}

.family-pass h2 {
    color: white;
    font-family: "Roc Grotesk";
    font-size: 60px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 58.8px */
    letter-spacing: -0.6px;
    text-transform: uppercase;

    margin: 0;
    margin-top: 50px;
    margin-left: 30px;
}

.family-pass h3 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 160px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 156.8px */
    letter-spacing: -1.6px;
    text-transform: uppercase;

    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
}

.family-pass nav {
    margin-left: 48px;

    position: absolute;
    bottom: 140px;
}

.family-pass li {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 26.28px */
    letter-spacing: -0.18px;
}

.family-pass-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 233px;
    height: 69px;
    border-radius: 14px;
    border: 1px solid #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.family-pass a {
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 35.04px */
    letter-spacing: -0.24px;
    text-decoration: none;
}

/* ----- INSTRUCTOR SECTION ----- */
.instructor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 170px;

    width: 1280px;
    min-height: 383px;
    padding: 0 70px;

    border-radius: 36px;
    background: linear-gradient(84deg, #FFF -2.58%, #D2D2D2 102.82%);
}

.instr-text {
    max-width: 730px;
}

.instr-text h2 {
    color: #000;
    font-family: "Roc Grotesk";
    font-size: 80px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 78.4px */
    letter-spacing: -0.8px;
    text-transform: uppercase;

    margin: 0;
}

.instr-text p {
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 32.12px */
    letter-spacing: -0.22px;
    margin-top: 30px;
}

.instr-btn {
    width: 285px;
    height: 82px;

    border-radius: 14px;
    background: var(--Accent, #FF4D00);

    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    left: 1050px;
}

.instr-btn a {
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 35.04px */
    letter-spacing: -0.24px;
    text-decoration: none;
}

/* ----- INSTRUCTOR BADGE ----- */

.inst-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 136px;
    height: 136px;

    border-radius: 50%;
    background: var(--Accent, #FF4D00);
    transform: rotate(18.082deg);

    top: -40px;
    right: 80px;
   
    color: #FFF;
    text-align: center;
    font-family: "Roc Grotesk";
    font-size: 21px;
    font-stretch: condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 98%; /* 20.58px */
    letter-spacing: -0.21px;
    text-transform: uppercase;
}

/* ----- STATISTICS SECTION ----- */

.stats {
    margin-top: 170px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    column-gap: 74px;
}

.stats img {
    width: 406px;
    height: 596px;
}

.stats1 {
    width: 410px;
    height: 596px;

    background: #303030;
}

.stats1 h3 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 80px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 82%; /* 65.6px */
    letter-spacing: -0.8px;

    margin: 0;
    padding-top: 50px;
    padding-left: 30px;
}

.stats1 p {
    color: #FFF;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 98%; /* 29.4px */
    letter-spacing: -0.3px;

    margin: 0;
    padding-top: 26px;
    padding-left: 30px;
}

.stats2 {
    width: 410px;
    height: 596px;

    background: #303030;
}

.stats2 h3 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 80px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 82%; /* 65.6px */
    letter-spacing: -0.8px;

    margin: 0;
    padding-top: 50px;
    padding-left: 30px;
}

.stats3 {
    width: 410px;
    height: 596px;

    background: #303030;
}

.stats3 h3 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 80px;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 82%; /* 65.6px */
    letter-spacing: -0.8px;

    margin: 0;
    padding-top: 50px;
    padding-left: 30px;
}

.stats3 p {
    color: #FFF;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 98%; /* 29.4px */
    letter-spacing: -0.3px;

    margin: 0;
    padding-top: 230px;
    padding-left: 30px;
}

.stats4 {
    width: 410px;
    height: 596px;

    background: #303030;
}

.stats4 p {
    color: #FFF;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 98%; /* 29.4px */
    letter-spacing: -0.3px;

    margin: 0;
    padding-top: 50px;
    padding-left: 30px;
}

.stats4 h3 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 80px;
    font-stretch: extra-condensed;
    font-style: normal;
    text-align: right;
    font-weight: 750;
    line-height: 82%; /* 65.6px */
    letter-spacing: -0.8px;

    margin: 0;
    padding-top: 230px;
    padding-right: 30px;
}

/* ----- FAQ SECTION ----- */

.faq {
    margin-top: 170px;
}

.faq-line {
    width: 100%;
    height: 1px;
    
    background: #434343;
}

.faq h2 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 180px;
    font-style: normal;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 144px */
    letter-spacing: -1.8px;
    text-transform: uppercase;

    margin-top: 80px;
}

/* ----- FAQ QUESTIONS ----- */

.faq-question {
    display: flex;
    align-items: center;
    gap: 220px;
}

.faq-question h2 {
    margin: 0;
    flex-shrink: 0;
}

.faq-question h3 {
    text-align: left;
}

.faq-4-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.faq-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 36px;
    margin-bottom: 36px;
}

.faq-1 h2 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 60px;
    font-style: normal;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 48px */
    letter-spacing: -0.6px;
    text-transform: uppercase;

    margin: 0;
}

.faq-1 h3 {
    color: #FFF;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%; /* 32px */
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

.faq-1 img {
    width: 40px;
    height: 40px;
}

.faq-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 36px;
    margin-bottom: 36px;
}

.faq-2 h2 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 60px;
    font-style: normal;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 48px */
    letter-spacing: -0.6px;
    text-transform: uppercase;

    margin: 0;
}

.faq-2 h3 {
    color: #FFF;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%; /* 32px */
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

.faq-2 img {
    width: 40px;
    height: 40px;
}

.faq-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 36px;
    margin-bottom: 36px;
}

.faq-3 h2 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 60px;
    font-style: normal;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 48px */
    letter-spacing: -0.6px;
    text-transform: uppercase;

    margin: 0;
}

.faq-3 h3 {
    color: #FFF;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%; /* 32px */
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

.faq-3 img {
    width: 40px;
    height: 40px;
}

.faq-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 36px;
    margin-bottom: 36px;
}

.faq-4 h2 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 60px;
    font-style: normal;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 48px */
    letter-spacing: -0.6px;
    text-transform: uppercase;

    margin: 0;
}

.faq-4 h2 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 60px;
    font-style: normal;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 48px */
    letter-spacing: -0.6px;
    text-transform: uppercase;

    margin: 0;
}

.faq-4-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-4-text h3 {
    color: #FFF;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%; /* 32px */
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

.faq-4-text p {
    color: #FFF;
    font-family: Raleway;
    font-size: 34px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    line-height: 101%; /* 34.34px */
    letter-spacing: -0.34px;
}

.faq-4 img {
    width: 40px;
    height: 40px;
}

.faq-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 36px;
    margin-bottom: 36px;
}

.faq-5 h2 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 60px;
    font-style: normal;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 48px */
    letter-spacing: -0.6px;
    text-transform: uppercase;

    margin: 0;
}

.faq-5 h3 {
    color: #FFF;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%; /* 32px */
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

.faq-5 img {
    width: 40px;
    height: 40px;
}

/* ----- FOOTER ----- */
footer {
    margin-top: 170px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-bottom: 50px;
}

.footer-social a {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 40px;
    font-style: normal;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 32px */
    letter-spacing: -0.4px;
    text-transform: uppercase;
    text-decoration: none;

    margin: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container-right {
    display: flex;
    flex-direction: column;
}

.footer-container-right a {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 200px;
    font-style: normal;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 160px */
    letter-spacing: -2px;
    text-transform: uppercase;
    text-decoration: none;

    padding: 0;
    margin: 0;
}

.container-policy {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.footer-container-left {
    display: flex;
    flex-direction: column;
    gap: 42px;

    margin-bottom: 50px;
}

.footer-container-left p {
    color: #FFF;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%; /* 40px */
    letter-spacing: -0.5px;
    text-transform: uppercase;
    text-align: right;

    padding: 0;
    margin: 0;
}