@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

/* Roc Grotesk Condensed - Extra Bold */
@font-face {
    font-family: 'Roc Grotesk';
    src: url('./fonts/Roc Grotesk/Roc Grotesk Condensed Extra Bold.woff2') format('woff2');
    font-weight: 800;
    font-stretch: condensed;
    font-style: normal;
}

/* Roc Grotesk Compressed - Extra Bold */
@font-face {
    font-family: 'Roc Grotesk';
    src: url('./fonts/Roc Grotesk/Roc Grotesk Compressed Extra Bold.woff2') format('woff2');
    font-weight: 800;
    font-stretch: extra-condensed;
    font-style: normal;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;

    min-height: 100vh;
    background: #212121;
    color: #FFFFFF;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    padding: 0;
    max-width: 100%;
    height: 7000px;
    overflow-x: hidden;
}

/* ----- HEADER ----- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-stretch: normal;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

.header nav ul {
    display: flex;
    gap: 46px;
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav a {
    color: inherit;
    text-decoration: none;
}

/* ----- HERO IMAGE ----- */
.hero-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: top center;
    z-index: -1;
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: top center;
    z-index: -2;
}

/* ----- HERO SECTION ----- */
.hero {
    display: flex;
    position: relative;
    align-items: flex-end;

    width: 100%;
    height: auto;
    margin-top: 66px;
}

/* ----- HEADER LEFT ----- */
.header-left {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.header-left p {
    width: 420px;
    margin-left: 273px;
    margin-bottom: 170px;
}

.header-date {
    display: flex;
    position: relative;
    align-items: center;
    gap: 40px;
    bottom: -120px;
}

.header-date h1 {
    white-space: nowrap;

    color: #FFF;
    text-align: right;
    font-family: "Roc Grotesk";
    font-size: 100px;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 98%; /* 117.6px */
    letter-spacing: -1.2px;
    text-transform: uppercase;
}

/* ----- JOIN US ----- */

.join {
    display: flex;
    gap: 16px;
}

.join svg {
    width: 81px;
    height: 22px;

    margin-top: 45px;
}

.join h2 {
    white-space: nowrap;

    color: var(--Accent, #FF4D00);
    text-align: right;
    font-family: "Roc Grotesk";
    font-size: 50px;
    font-stretch: extra-condensed;
    font-weight: 700;
    line-height: 98%; /* 49px */
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

/* ----- HEADER RIGHT ----- */

.header-right {
    margin-left: auto;
}

.header-right h1 {
    width: 444px;
    height: 464px;

    color: #FFF;
    text-align: right;
    font-family: "Roc Grotesk";
    font-size: 145px;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 116px */
    letter-spacing: -1.45px;
    text-transform: uppercase;
}

.header-right h1 span:not(.badgeAnchor) {
    color: var(--Accent, #FF4D00);
}

/* ----- HEADER BADGE ----- */

.badge-anchor {
    position: relative;
    color: #FFF !important;
}

.header-badge {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    margin-top: -50px;
    margin-left: -70px;
}

.header-badge svg {
    position: relative;
    inset: 0;
    width: 118px;
    height: 118px;
}

.header-badge p {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1;

    width: 79px;
    height: 42px;
    transform: rotate(21.605deg);

    color: #FFF;
    text-align: center;
    font-family: "Roc Grotesk";
    font-size: 21px;
    font-stretch: condensed;
    font-weight: 750;
    line-height: 98%; /* 20.58px */
    letter-spacing: -0.21px;
    text-transform: uppercase;
}

/* ----- ABOUT SECTION ----- */
.about-headline {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    margin-right: 60px;
    min-height: 760px;
}

.about-headline h1 {
    color: #FFF;
    font-family: "Roc Grotesk";
    font-size: 200px;
    white-space: nowrap;
    font-stretch: extra-condensed;
    font-style: normal;
    font-weight: 750;
    line-height: 80%; /* 144px */
    letter-spacing: -1.8px;
    text-transform: uppercase;
    z-index: 1;
}

.about-headline img {
    position: absolute;
    top: 50%;
    right: 0;
    width: 530px;
    height: 777px;
    transform: translateY(-50%) rotate(8deg);
    z-index: 2;
}
