@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

/* Roc Grotesk Condensed - Extra Bold */
@font-face {
    font-family: 'Roc Grotesk';
    src: url('./fonts/Roc Grotesk/Roc Grotesk Condensed Extra Bold.woff2') format('woff2');
    font-weight: 800;
    font-stretch: condensed;
    font-style: normal;
}

/* Roc Grotesk Compressed - Extra Bold */
@font-face {
    font-family: 'Roc Grotesk';
    src: url('./fonts/Roc Grotesk/Roc Grotesk Compressed Extra Bold.woff2') format('woff2');
    font-weight: 800;
    font-stretch: extra-condensed;
    font-style: normal;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;

    min-height: 100vh;
    background: #212121;
    color: #FFFFFF;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

/* ----- HEADER ----- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-stretch: normal;
    font-size: 30px;
}

.header nav ul {
    display: flex;
    gap: 46px;
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav a {
    color: inherit;
    text-decoration: none;
}

/* ----- HERO IMAGE ----- */
.heroImg {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* ----- HERO SECTION ----- */
.hero {
    display: flex;

    width: 100%;
    height: auto;
    margin-top: 66px;
}

.headerRight {
    margin-left: auto;
}

.headerRight h1 {
    width: 444px;
    height: 464px;

    color: #FFF;
    text-align: right;
    font-family: "Roc Grotesk";
    font-size: 145px;
    font-stretch: extra-condensed;
    font-weight: 750;
    line-height: 80%; /* 116px */
    letter-spacing: -1.45px;
    text-transform: uppercase;
}

.headerRight h1 span {
    color: var(--Accent, #FF4D00);
}